<div class="container">
    <div class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key", height: 300, crop: :fill %>')">
      <div class="show-text">
        <%= link_to "Add movie to list", new_list_bookmark_path(@list) %>
        <p><%= @list.name %></p>
      </div>
    </div>
</div>

<div class="container">
  <h1><%= @list.name %></h1>
  <div class="cards">
    <% @list.movies.each do |movie| %>
      <div class="movie-card border text-center p-4">
        <%= image_tag movie.poster_url, alt: "", width: 200 %>
        <h4><strong><%= movie.title %></strong></h4>
        <p><%= movie.overview %></p>
        <%= link_to "Delete",
          bookmark_path(movie.bookmarks.find{ |n| n.list_id == @list.id}),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
    <% end %>
  </div>
  <br>
  <hr>
  <br>
</div>

<div class="container container-form border">
  <h2>Add movie to list</h2>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
    <% end %>
</div>
